<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/css/vendor.min.css" />
    <script src="/js/vendor.min.js"></script>
</head>
<body>
    <div>
        @await Component.InvokeAsync("LoginLogout")
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        @*@RenderSection("footer", required: false)*@

        @await Component.InvokeAsync("Greeting");
        &copy; @DateTime.Now.Year SimpleCrm Sample Corp.
    </footer>
</body>
</html>