<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        @RenderSection("footer", required: false)
        &copy; @DateTime.Now.Year SimpleCrm Sample Corp.
    </footer>
</body>
</html>

