@{ViewData["Title"] = "Corporate";
}

<div class="hero-wide mdl-card mdl-shadow--2dp hero-top banner-buy">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Corporate Clients</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Something about corporate clients
    </div>
</div>

<div class="content">
    <h3>Benefits</h3>
    <p>
        Say something special here ...
    </p>
    <p>
        long text ...
    </p>
</div>

<div class="hero-wide mdl-card mdl-shadow--2dp banner-buy">
    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Major Slogan</h3>
    </div>
    <div class="mdl-card__supporting-text">
        Say something special ...
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect mdl-button--raised"
           href="/pricing">
            Learn More
        </a>
    </div>
</div>

<div class="content">
    <h3>Our Features</h3>
    <p>
        We love customer relationship management system. Check out these amazing features.
    </p>
</div>

<ul class="mdl-list feature-list-body">
    <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons md-36 mdl-list__item-icon">group</i>
            <span>Feature 1</span>
            <p class="mdl-list__item-text-body">
                Description of feature 1
            </p>
        </span>
    </li>
    <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons md-36 mdl-list__item-icon">accessibility</i>
            <span>Feature 2</span>
            <p class="mdl-list__item-text-body">
                Description of feature 2
            </p>
        </span>
    </li>
    <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons md-36 mdl-list__item-icon">build</i>
            <span>Feature 3</span>
            <p class="mdl-list__item-text-body">
                Description of feature 3
            </p>
        </span>
    </li>
</ul>

<div class="hero-wide">
    <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect  mdl-button--raised"
       href="/account/register">
        Signup Today
    </a>
</div> 