@{
    ViewData["Title"] = "Overview";
}

<div class="hero-wide mdl-card mdl-shadow--2dp hero-top banner-buy">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">CRM solution <br /> helps your business grow</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Stay Involved with Clients. Never forget to followup again.
    </div>
</div>

<div class="content">
    <h3>Benefits</h3>
    <p>
        Create stronger connections with your clients and find new ways to market to them with CRM tools.
    </p>
    <p>
        Approximately 80% of new leads never translate into sales. However, companies with proper lead
        nurturing strategist generate 50% more sales-ready leads. <br />
        Source: 99 Firms
    </p>
</div>

<div class="hero-wide mdl-card mdl-shadow--2dp banner-buy">
    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Pipeline | Cross-selling and Upselling</h3>
    </div>
    <div class="mdl-card__supporting-text">
        CRM tools help you track the progress and success of each individual client case so you don't end up with an unmanageable pile of incomplete projects.
    </div>
    <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect  mdl-button--raised"
           href="/pipeline">
            Learn More
        </a>
    </div>
</div>

<div class="content">
    <h3>Our Features</h3>
    <p>
        We love customer relationship management. Check out these amazing features.
    </p>
</div>

<ul class="mdl-list feature-list-body">
    <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons md-36 mdl-list__item-icon">group</i>
            <span>Feature 1</span>
            <p class="mdl-list__item-text-body">
                Description of feature 1
            </p>
        </span>
    </li>
    <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons md-36 mdl-list__item-icon">accessibility</i>
            <span>Feature 2</span>
            <p class="mdl-list__item-text-body">
                Description of feature 2
            </p>
        </span>
    </li>
    <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
            <i class="material-icons md-36 mdl-list__item-icon">build</i>
            <span>Feature 3</span>
            <p class="mdl-list__item-text-body">
                Description of feature 3
            </p>
        </span>
    </li>
</ul>

<div class="hero-wide">
    <a class="mdl-button mdl-button--accent mdl-js-button mdl-js-ripple-effect  mdl-button--raised"
       href="/account/register">
        Signup Today
    </a>
</div>