.mdl-layout__content {
    width: 60%;
    margin: auto;
}

.fab-right {
    position: absolute;
    right: 17vh;
    top: 7vh;
    z-index: 999;
}

.mdl-textfield__error.field-validation-error {
    visibility:visible;
}