div.table-content {
    min-height: auto;
}

div.table-content.ngstar-inserted {
    margin-top: 5em;
    margin-bottom: 5em;
}

mat-card mat-card-title.mat-mdc-card-title {
    margin: 10px 10px 10px 0;
    padding: 0;
}

.mat-mdc-card-actions.mdc-card__actions {
    justify-content: end;
}