<div class="table-content">
    <mat-card>
            <mat-card-title fxLayout>
                <span>Customers List</span>
            </mat-card-title>

                <div fxLayoutAlign = "start baseline">
                    <mat-form-field>
                        <mat-label>Filter</mat-label>
                        <input matInput [formControl] = "filterInput">
                        <button mat-button matSuffix mat-icon-button *ngIf = "filterInput.value" aria-label = "Clear" (click) = "filterInput.setValue('')">
                            <mat-icon>Close</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-icon *ngIf = "!filterInput.value" matSuffix>filter_list</mat-icon>
                    <span fxFlex></span>
                    <button fxFlex="nogrow" class="addButton" mat-mini-fab (click)="addCustomer()">
                        <mat-icon aria-label="Add Customer">add</mat-icon>
                    </button>   
                </div>
        <table mat-table [dataSource] = "filteredCustomers$">

            <ng-container matColumnDef = "status-icon">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef = "let row"> 
                    <mat-icon [svgIcon]="row.statusCode | statusIcon"></mat-icon>
                </td>
            </ng-container>

            <ng-container matColumnDef = "name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef = "let row"> {{row.firstName}} {{row.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef = "phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef = "let row"> {{row.phoneNumber}}</td>
            </ng-container>
            <ng-container matColumnDef = "status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef = "let row"> 
                    {{row.statusCode | uppercase}}
                </td>
            </ng-container>
            <ng-container matColumnDef = "email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef = "let row"> {{row.emailAddress}}</td>
            </ng-container>
            <ng-container matColumnDef = "lastContactDate">
                <th mat-header-cell *matHeaderCellDef> Last Contact Date </th>
                <td mat-cell *matCellDef = "let row"> {{row.lastContactDate | date: 'MMM d, yyyy' | titlecase}}</td>
            </ng-container>


            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <th class="mat-mdc-cell" mat-cell *matCellDef="let row" (click)="openDetail(row)">
                    <div fxLayoutAlign="end">
                        <button mat-icon-button color="primary">
                            <mat-icon area-label="View customer detail">edit</mat-icon>
                        </button>
                    </div>
                </th>

            </ng-container>
                
                <tr mat-header-row *matHeaderRowDef = "displayColumns"></tr>
                <tr mat-row *matRowDef = "let row; columns: displayColumns;"></tr>
        </table>
    </mat-card>
</div>