// .table-content {
//     max-width: 60%;
// }

table {
    width: 100%;
}

mat-card.mdc-card {
    padding: 1em;
}

.mat-mdc-card-header {
    flex-direction: column;
}

mat-form-field {
    margin-left: 30px;
}

.mat-ligature-font.mat-icon-no-color {
    width: 1.5em;
    height: .9em;
}

.mat-mdc-icon-button.ng-star-inserted {
    padding: 0;
    margin-right: 8px;
}