@model SimpleCrm.Customer

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>@Model.LastName</h1>
    <p>..details here</p>
</body>
</html>

