@model CustomerEditViewModel
@{
    ViewBag.Title = $"Edit {Model.FirstName}";
}

<div>
    <h1>Editing @Model.FirstName @Model.LastName</h1>
    <form method="post" asp-antiforgery="true" asp-action="Edit">
        <div>
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <div>
            <label asp-for="LastName"></label>
            <input asp-for="LastName" />
            <span asp-validation-for="LastName"></span>
        </div>

        <div>
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>

        <div>
            <label asp-for="OptInNewsletter"></label>
            <input asp-for="OptInNewsletter" />
            <span asp-validation-for="OptInNewsletter"></span>
        </div>

        <div>
            <label asp-for="Type"></label>
            <select asp-for="Type" asp-items="@Html.GetEnumSelectList(typeof(SimpleCrm.CustomerType))">
            </select>
            <span asp-validation-for="Type"></span>
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    </form>
</div>