<div class="table-content">
    <h1>Sales Pipeline Management</h1>
    <p>Goal: Move the products through the various stages in order to determine if they are a good fit for a prospective customer.
             The process of transisioning your product through the sales pipeline, from potential customer or qualified lead to deal to closing 
             - is a continuous activity, with activities common to all products, including determining who the market are,
             what features to highlight, what price point to advertise toward, discovering what solutions it can benefit, 
             and how to address objections.
             It never stops, even while the pipeline itself does.<br>
             With CRM tools, you shuld be able to track each step of process, and see exactly when each prospect was identified, what stage they are in,
             and what action steps need to be taken at that point to close out the deal. This will also allow you to identify opportunities for cross-selling and upselling.
             If you can do this well, you'll be able to keep your customer relationships top-of-mind at all times, which will help you make better decisions as you go through the formal sales process.
    </p>
    <h3>Prospecting</h3>
    <h3>Qualification</h3>
    <h3>Meeting</h3>
    <h3>Proposal</h3> 
    <h3>Closing</h3>
    <h3>Retention</h3>

    <p>Maybe some of the sales deals are moving through the pipeline pretty quickly,
        but a lot of them will need ongoing support in the post-sales period.
    </p>
    <p>When potential customers reach the buyer stage in their buying cycle, they seek
        answers to the questions like:
    </p>
    <ol>
        <li>Can it consolidate our needs?</li>
        <li>Does it align with our core functionally?</li>
        <li>Does it need to be revamped?</li>
        <li>What is the product timeline, and does it fit our needs?</li>
    </ol>
    <p>What steps you take to answer those four questions and handle objections 
        is what determines the type of state a deal is in.
    </p>
    <p>Moving in the wrong direction also means that your company does not have a strong
        execution plan for its new business sectior because there aren't any ready-made pipelines for it yet.
        A company that doesn't have a pipeline means there will be many unanswered questions later - questions that can't properly be addressed.
    </p>
    <p>
        There are many factors that contribute to a company's decision to make an acquisition, build a service, or build an entirely new business sector.
        Using our Crm tools, your company will be able to take advantage of strategic partnerships with the appropriate partners at the right time.
    </p>
</div>