<div style="height:100vh; display:flex; flex-direction:column;">
  <mat-toolbar color="primary">
    <button mat-icon-button matRipple (click)="sideNavToggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <a mat-list-item href="/home"><span class="title">{{title}}</span></a>
  </mat-toolbar>

  <mat-sidenav-container style="flex:1 100%">
    <!-- [opened] property could be switced over to use the Observable value. 'showSideNav$' -->
    <mat-sidenav [opened]="showSideNav$ | async" [mode]="'side'"> 
      <mat-nav-list>
        <a mat-list-item matRipple [style.position]="'relative'"
          routerLinkActive="selected" [routerLink]="['./customers']" class="customers">
          <mat-icon matListItemIcon>people</mat-icon>
          <h4 matListItemTitle>Customers</h4>
        </a>
        <a mat-list-item matRipple [style.position]="'relative'"
          routerLinkActive="selected" [routerLink]="['./pipeline']" class="pipeline">
          <mat-icon matListItemIcon>chat</mat-icon>
          <h4 matListItemTitle>Pipeline</h4>
        </a>
        <a mat-list-item matRipple [style.position]="'relative'" href="/home">
        <mat-icon matListItemIcon>chat</mat-icon>
        <h4 matListItemTitle>test</h4>
      </a>

      </mat-nav-list>
    </mat-sidenav>
    
    <router-outlet></router-outlet>
    <!-- <button (click)="sidenav.toggle()">Toggle</button> -->
    <button (click)="sideNavToggle()">Toggle</button>
  </mat-sidenav-container>

  <div class="footer">
    Footer
  </div>
</div>